RNDS_AUTH_URL=https://ehr-auth-hmg.saude.gov.br/api/
RNDS_API_URL=https://ehr-services-hmg.saude.gov.br/api/

# RIRA
COND_PROFILE=http://www.saude.gov.br/fhir/r4/StructureDefinition/BRCID10Avaliado-1.0
COND_CLINICAL_STATUS_SYSTEM=http://terminology.hl7.org/CodeSystem/condition-clinical
COND_CATEGORY_SYSTEM=http://www.saude.gov.br/fhir/r4/CodeSystem/BRCategoriaDiagnostico
COND_CODE_SYSTEM=http://www.saude.gov.br/fhir/r4/CodeSystem/BRCID10
COND_SUBJECT_SYSTEM=http://www.saude.gov.br/fhir/r4/StructureDefinition/BRIndividuo-1.0

SR_PROFILE=http://www.saude.gov.br/fhir/r4/StructureDefinition/BRRequisicaoRegulacaoAssistencial
SR_CATEGORY_SYSTEM=http://www.saude.gov.br/fhir/r4/CodeSystem/BRModalidadeAssistencial
SR_CODE_SYSTEM=http://www.saude.gov.br/fhir/r4/CodeSystem/BRTabelaSUS
SR_SUBJECT_SYSTEM=http://www.saude.gov.br/fhir/r4/StructureDefinition/BRIndividuo-1.0
SR_REQUESTER_SYSTEM=http://www.saude.gov.br/fhir/r4/StructureDefinition/BREstabelecimentoSaude-1.0
SR_PERFORMER_TYPE_SYSTEM=http://www.saude.gov.br/fhir/r4/CodeSystem/BRCBO
SR_PERFORMER_SYSTEM=http://www.saude.gov.br/fhir/r4/StructureDefinition/BREstabelecimentoSaude-1.0

APP_PROFILE=http://www.saude.gov.br/fhir/r4/StructureDefinition/BRAgendamentoRegulacaoAssistencial
APP_SERVICE_CATEGORY_SYSTEM=http://www.saude.gov.br/fhir/r4/CodeSystem/BRModalidadeAssistencial
APP_SERVICE_TYPE_SYSTEM=http://www.saude.gov.br/fhir/r4/CodeSystem/BRTabelaSUS
APP_SPECIALTY_SYSTEM=http://www.saude.gov.br/fhir/r4/CodeSystem/BRCBO
APP_TYPE_SYSTEM=http://hl7.org/fhir/request-priority
APP_PATIENT_SYSTEM=http://www.saude.gov.br/fhir/r4/StructureDefinition/BRIndividuo-1.0
APP_PARTICIPANT_TYPE_SYSTEM=http://www.saude.gov.br/fhir/r4/CodeSystem/BRTipoParticipante

COMP_PROFILE=http://www.saude.gov.br/fhir/r4/StructureDefinition/BRRegulacaoAssistencial
COMP_TYPE_SYSTEM=http://www.saude.gov.br/fhir/r4/CodeSystem/BRTipoDocumento
COMP_CATEGORY_SYSTEM=http://www.saude.gov.br/fhir/r4/CodeSystem/BRModalidadeAssistencial
COMP_SUBJECT_SYSTEM=http://www.saude.gov.br/fhir/r4/StructureDefinition/BRIndividuo-1.0
COMP_AUTHOR_SYSTEM=http://www.saude.gov.br/fhir/r4/StructureDefinition/BREstabelecimentoSaude-1.0
COMP_EVENT_CODE_SYSTEM=http://www.saude.gov.br/fhir/r4/CodeSystem/BRStatusRegulacaoAssistencial
COMP_EVENT_PERFORMER_SYSTEM=http://www.saude.gov.br/fhir/r4/StructureDefinition/BREstabelecimentoSaude-1.0

BUND_ID_SYSTEM=http://www.saude.gov.br/fhir/r4/NamingSystem/BRRNDS-<id_servico_rnds>
RNDS_BUNDLE_URL_PATH=fhir/r4/Bundle
CERT_FILEPATH=/srv/app/cert.pem
KEY_FILEPATH=/srv/app/key.pem