.DS_Store

*.bkp
/dumps

.env

/venv
.venv
.ruff_cache

build/
dist/
*.egg-info/
.eggs/

__pycache__/
*.pyc
*.pyd
*.so
*.cpython-39.pyc
*.py[cod]
*.ipynb
.ipynb_checkpoints/

.vscode
/.idea

/nginx/certs
*.pfx
*.zip
*.pem

.coverage
.coverage.*
htmlcov/
coverage.xml
.pytest_cache/